ul{
    padding: 0px;
    margin: 0px;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}
header input,select{
    margin: 0.2rem;
    font-size: 1.3rem;
}
