.list_res{
    display: grid;
    row-gap: 1em;
    align-items: center;
}
    .result{
        min-width: 100%;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        justify-content: center;
        align-items: center;
        box-shadow: 2px 2px 6px grey;
    }
        .btn_res{
            place-self: center;
            border-radius: 50%;
        }